/* app css stylesheet */

body {
  background-color: #464646;
}

.center {
  margin: 200px auto;
  width: 1000px;
  text-align: center;
}

.show img {
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.3)));
}
